In [5]:
pip install mlxtend

Collecting mlxtendNote: you may need to restart the kernel to use updated packages.

  Downloading mlxtend-0.21.0-py2.py3-none-any.whl (1.3 MB)
Requirement already satisfied: joblib>=0.13.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.1.0)
Requirement already satisfied: matplotlib>=3.0.0 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (3.5.1)
Requirement already satisfied: setuptools in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (61.2.0)
Requirement already satisfied: pandas>=0.24.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.4.2)
Requirement already satisfied: scipy>=1.2.1 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.7.3)
Requirement already satisfied: numpy>=1.16.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.21.5)
Requirement already satisfied: scikit-learn>=1.0.2 in c:\users\hp\anaconda3\lib\site-packages (from mlxtend) (1.0.2)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (2.8.2)
Requirement already satisfied: packaging>=20.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (21.3)
Requirement already satisfied: pillow>=6.2.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (9.0.1)
Requirement already satisfied: pyparsing>=2.2.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (3.0.4)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (4.25.0)
Requirement already satisfied: cycler>=0.10 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (0.11.0)
Requirement already satisfied: kiwisolver>=1.0.1 in c:\users\hp\anaconda3\lib\site-packages (from matplotlib>=3.0.0->mlxtend) (1.3.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\hp\anaconda3\lib\site-packages (from pandas>=0.24.2->mlxtend) (2021.3)
Requirement already satisfied: six>=1.5 in c:\users\hp\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib>=3.0.0->mlxtend) (1.16.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\hp\anaconda3\lib\site-packages (from scikit-learn>=1.0.2->mlxtend) (2.2.0)
Installing collected packages: mlxtend
Successfully installed mlxtend-0.21.0

In [6]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [7]:
data=pd.read_csv('before-covid.csv')
data

       Baby Food  Fish  Frozen  Fruits  Grocery  Meat  Vegetables  Others
0              1     1       1       1        1     1           1       1
1              1     1       1       1        1     1           1       1
2              1     1       1       1        1     1           1       1
3              1     1       1       1        1     1           1       1
4              1     1       1       1        1     1           1       1
...          ...   ...     ...     ...      ...   ...         ...     ...
11445          1     1       1       1        1     1           1       1
11446          0     0       0       1        1     0           1       1
11447          1     1       1       0        1     1           1       1
11448          1     1       1       1        1     1           1       1
11449          1     1       1       1        1     1           1       1

[11450 rows x 8 columns]

In [10]:
df=pd.DataFrame(data)
df

       Baby Food  Fish  Frozen  Fruits  Grocery  Meat  Vegetables  Others
0              1     1       1       1        1     1           1       1
1              1     1       1       1        1     1           1       1
2              1     1       1       1        1     1           1       1
3              1     1       1       1        1     1           1       1
4              1     1       1       1        1     1           1       1
...          ...   ...     ...     ...      ...   ...         ...     ...
11445          1     1       1       1        1     1           1       1
11446          0     0       0       1        1     0           1       1
11447          1     1       1       0        1     1           1       1
11448          1     1       1       1        1     1           1       1
11449          1     1       1       1        1     1           1       1

[11450 rows x 8 columns]

# we can generate frequent itemsets based on support.

In [13]:
frequent_itemsets = apriori(df[['Baby Food','Fish','Frozen','Fruits','Grocery','Meat','Vegetables','Others']], min_support=0.5,use_colnames=True)

C:\Users\hp\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [12]:
frequent_itemsets

      support                                           itemsets
0    0.817380                                        (Baby Food)
1    0.827074                                             (Fish)
2    0.907773                                           (Frozen)
3    0.968384                                           (Fruits)
4    0.999214                                          (Grocery)
..        ...                                                ...
250  0.615633  (Fish, Grocery, Vegetables, Frozen, Others, Me...
251  0.650830  (Fish, Fruits, Grocery, Vegetables, Others, Me...
252  0.689170  (Fruits, Grocery, Vegetables, Frozen, Others, ...
253  0.722533  (Fish, Fruits, Grocery, Vegetables, Frozen, Me...
254  0.610218  (Fish, Fruits, Grocery, Vegetables, Frozen, Ot...

[255 rows x 2 columns]

In [16]:
frequent_itemsets.head(15)

     support                 itemsets
0   0.817380              (Baby Food)
1   0.827074                   (Fish)
2   0.907773                 (Frozen)
3   0.968384                 (Fruits)
4   0.999214                (Grocery)
5   0.916332                   (Meat)
6   0.975459             (Vegetables)
7   0.999738                 (Others)
8   0.687336        (Baby Food, Fish)
9   0.753974      (Baby Food, Frozen)
10  0.796943      (Baby Food, Fruits)
11  0.817118     (Baby Food, Grocery)
12  0.756507        (Meat, Baby Food)
13  0.802533  (Baby Food, Vegetables)
14  0.817380      (Baby Food, Others)

In [17]:
rules = association_rules(frequent_itemsets, metric='lift', min_threshold=1)

In [18]:
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Baby Food),(Fish),0.817380,0.827074,0.687336,0.840902,1.016719,0.011302,1.086912
1,(Fish),(Baby Food),0.827074,0.817380,0.687336,0.831045,1.016719,0.011302,1.080883
2,(Baby Food),(Frozen),0.817380,0.907773,0.753974,0.922428,1.016144,0.011978,1.188916
3,(Frozen),(Baby Food),0.907773,0.817380,0.753974,0.830575,1.016144,0.011978,1.077884
4,(Baby Food),(Fruits),0.817380,0.968384,0.796943,0.974997,1.006829,0.005405,1.264494
...,...,...,...,...,...,...,...,...,...
6045,(Vegetables),"(Fish, Fruits, Grocery, Frozen, Others, Meat, ...",0.975459,0.612838,0.610218,0.625571,1.020776,0.012420,1.034005
6046,(Frozen),"(Fish, Fruits, Grocery, Vegetables, Others, Me...",0.907773,0.650830,0.610218,0.672215,1.032858,0.019413,1.065241
6047,(Others),"(Fish, Fruits, Grocery, Vegetables, Frozen, Me...",0.999738,0.610218,0.610218,0.610378,1.000262,0.000160,1.000410
6048,(Meat),"(Fish, Fruits, Grocery, Vegetables, Frozen, Ot...",0.916332,0.629083,0.610218,0.665936,1.058582,0.033770,1.110317
6049,(Baby Food),"(Fish, Fruits, Grocery, Vegetables, Frozen, Ot...",0.817380,0.722533,0.610218,0.746554,1.033246,0.019635,1.094779

In [33]:
rules.head(30)

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Baby Food),(Fish),0.817380,0.827074,0.687336,0.840902,1.016719,0.011302,1.086912
1,(Fish),(Baby Food),0.827074,0.817380,0.687336,0.831045,1.016719,0.011302,1.080883
2,(Baby Food),(Frozen),0.817380,0.907773,0.753974,0.922428,1.016144,0.011978,1.188916
3,(Frozen),(Baby Food),0.907773,0.817380,0.753974,0.830575,1.016144,0.011978,1.077884
4,(Baby Food),(Fruits),0.817380,0.968384,0.796943,0.974997,1.006829,0.005405,1.264494
5,(Fruits),(Baby Food),0.968384,0.817380,0.796943,0.822962,1.006829,0.005405,1.031529
6,(Baby Food),(Grocery),0.817380,0.999214,0.817118,0.999679,1.000466,0.000380,2.452140
7,(Grocery),(Baby Food),0.999214,0.817380,0.817118,0.817761,1.000466,0.000380,1.002089
8,(Meat),(Baby Food),0.916332,0.817380,0.756507,0.825581,1.010034,0.007515,1.047022
9,(Baby Food),(Meat),0.817380,0.916332,0.756507,0.925526,1.010034,0.007515,1.123458
10,(Baby Food),(Vegetables),0.817380,0.975459,0.802533,0.981836,1.006538,0.005213,1.351081
11,(Vegetables),(Baby Food),0.975459,0.817380,0.802533,0.822724,1.006538,0.005213,1.030143
12,(Baby Food),(Others),0.817380,0.999738,0.817380,1.000000,1.000262,0.000214,inf
13,(Others),(Baby Food),0.999738,0.817380,0.817380,0.817594,1.000262,0.000214,1.001174
14,(Frozen),(Fish),0.907773,0.827074,0.761572,0.838946,1.014353,0.010776,1.073710
15,(Fish),(Frozen),0.827074,0.907773,0.761572,0.920803,1.014353,0.010776,1.164521
16,(Fish),(Fruits),0.827074,0.968384,0.814498,0.984794,1.016946,0.013572,2.079173
17,(Fruits),(Fish),0.968384,0.827074,0.814498,0.841089,1.016946,0.013572,1.088196
18,(Grocery),(Fish),0.999214,0.827074,0.826987,0.827637,1.000681,0.000563,1.003268
19,(Fish),(Grocery),0.827074,0.999214,0.826987,0.999894,1.000681,0.000563,7.443668
20,(Meat),(Fish),0.916332,0.827074,0.792227,0.864563,1.045328,0.034353,1.276803
21,(Fish),(Meat),0.827074,0.916332,0.792227,0.957867,1.045328,0.034353,1.985807
22,(Fish),(Vegetables),0.827074,0.975459,0.819389,0.990707,1.015633,0.012612,2.640998
23,(Vegetables),(Fish),0.975459,0.827074,0.819389,0.840004,1.015633,0.012612,1.080810
24,(Others),(Fish),0.999738,0.827074,0.827074,0.827291,1.000262,0.000217,1.001255
25,(Fish),(Others),0.827074,0.999738,0.827074,1.000000,1.000262,0.000217,inf
26,(Frozen),(Fruits),0.907773,0.968384,0.884716,0.974601,1.006419,0.005643,1.244749
27,(Fruits),(Frozen),0.968384,0.907773,0.884716,0.913600,1.006419,0.005643,1.067447
28,(Frozen),(Grocery),0.907773,0.999214,0.907773,1.000000,1.000787,0.000714,inf
29,(Grocery),(Frozen),0.999214,0.907773,0.907773,0.908487,1.000787,0.000714,1.007803

In [91]:
rules [ (rules['lift'] >1.1396)  & (rules['confidence']> 0.95)  ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2469,"(House Hold, Fish, Fruits, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4451,"(House Hold, Fish, Fruits, Grocery, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4458,"(House Hold, Fish, Fruits, Dairy)","(Grocery, Vegetables)",0.518124,0.852651,0.504411,0.973533,1.141773,0.062632,5.567356

# Association_rule for before covid(individual)

In [93]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [95]:
data=pd.read_csv('B_Covid.csv')
data

,Baby Food,Baby Item,Cosmetics,Dairy,Fish,Frozen,Fruits,General Merchandise,Grocery,House Hold,Meat,Stationery,Tobacco,Toys,Vegetables
0,1,0,0,1,1,1,1,1,1,1,1,0,0,1,1
1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
2,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1
3,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
4,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,1,1,0,1,1,1,1,1,1,1,1,0,0,0,1
11445,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
11446,0,1,0,1,0,0,1,1,1,1,0,0,0,0,1
11447,1,0,0,1,1,1,0,1,1,1,1,1,0,1,1
11448,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1

In [96]:
df=pd.DataFrame(data)
df

,Baby Food,Baby Item,Cosmetics,Dairy,Fish,Frozen,Fruits,General Merchandise,Grocery,House Hold,Meat,Stationery,Tobacco,Toys,Vegetables
0,1,0,0,1,1,1,1,1,1,1,1,0,0,1,1
1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
2,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1
3,1,1,1,1,1,1,1,1,1,1,1,1,0,1,1
4,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,1,1,0,1,1,1,1,1,1,1,1,0,0,0,1
11445,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
11446,0,1,0,1,0,0,1,1,1,1,0,0,0,0,1
11447,1,0,0,1,1,1,0,1,1,1,1,1,0,1,1
11448,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1

In [124]:
frequent_itemsets = apriori(df, min_support=0.5,use_colnames=True)

C:\Users\hp\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [99]:
frequent_itemsets

      support                                           itemsets
0    0.593502                                        (Baby Food)
1    0.865752                                            (Dairy)
2    0.631584                                             (Fish)
3    0.760328                                           (Frozen)
4    0.821207                                           (Fruits)
..        ...                                                ...
352  0.525286  (House Hold, Grocery, Vegetables, Frozen, Meat...
353  0.572452  (House Hold, Fruits, Grocery, Vegetables, Meat...
354  0.555332  (House Hold, Fruits, Grocery, Vegetables, Froz...
355  0.503712  (House Hold, Grocery, Vegetables, Frozen, Meat...
356  0.541707  (House Hold, Fruits, Grocery, Vegetables, Meat...

[357 rows x 2 columns]

In [100]:
rules = association_rules(frequent_itemsets, metric='lift',min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Baby Food),(Dairy),0.593502,0.865752,0.554110,0.933628,1.078400,0.040284,2.022643
1,(Dairy),(Baby Food),0.865752,0.593502,0.554110,0.640032,1.078400,0.040284,1.129263
2,(Baby Food),(Frozen),0.593502,0.760328,0.500131,0.842678,1.108308,0.048875,1.523450
3,(Frozen),(Baby Food),0.760328,0.593502,0.500131,0.657783,1.108308,0.048875,1.187838
4,(Baby Food),(Fruits),0.593502,0.821207,0.526072,0.886387,1.079371,0.038684,1.573702
...,...,...,...,...,...,...,...,...,...
6249,(Grocery),"(House Hold, Fruits, Vegetables, Meat, General...",0.990217,0.541707,0.541707,0.547058,1.009879,0.005299,1.011815
6250,(Vegetables),"(House Hold, Fruits, Grocery, Meat, General Me...",0.854136,0.561359,0.541707,0.634216,1.129787,0.062230,1.199181
6251,(Meat),"(House Hold, Fruits, Grocery, Vegetables, Gene...",0.730020,0.651323,0.541707,0.742044,1.139286,0.066228,1.351688
6252,(General Merchandise),"(House Hold, Fruits, Grocery, Vegetables, Meat...",0.904795,0.558913,0.541707,0.598706,1.071197,0.036005,1.099162
6253,(Dairy),"(House Hold, Fruits, Grocery, Vegetables, Meat...",0.865752,0.572452,0.541707,0.625706,1.093029,0.046105,1.142280

In [102]:
rules [ (rules['lift'] >1.1396)  & (rules['confidence']> 0.95)  ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2469,"(House Hold, Fish, Fruits, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4451,"(House Hold, Fish, Fruits, Grocery, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4458,"(House Hold, Fish, Fruits, Dairy)","(Grocery, Vegetables)",0.518124,0.852651,0.504411,0.973533,1.141773,0.062632,5.567356

# Association_rule during covid

In [104]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [105]:
dT=pd.read_csv('D_Covid.csv')
dT

,Baby Food,Baby Item,Cosmetics,Dairy,Fish,Frozen,Fruits,General Merchandise,Grocery,House Hold,Meat,Stationery,Tobacco,Toys,Vegetables
0,1,0,0,1,1,1,0,1,1,1,1,0,0,0,0
1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1
2,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
3,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
4,1,1,0,1,1,1,1,1,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1
11445,0,1,0,1,1,1,1,1,1,1,1,0,0,1,1
11446,0,1,0,1,1,1,1,1,1,1,1,1,0,1,1
11447,0,0,0,1,0,1,1,1,1,1,1,1,0,0,1
11448,0,0,0,1,1,0,1,1,1,1,0,0,0,0,1

In [106]:
df=pd.DataFrame(dT)
df

,Baby Food,Baby Item,Cosmetics,Dairy,Fish,Frozen,Fruits,General Merchandise,Grocery,House Hold,Meat,Stationery,Tobacco,Toys,Vegetables
0,1,0,0,1,1,1,0,1,1,1,1,0,0,0,0
1,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1
2,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
3,1,1,1,1,1,1,1,1,1,1,1,0,0,1,1
4,1,1,0,1,1,1,1,1,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,0,1,0,1,1,1,1,1,1,1,1,0,0,0,1
11445,0,1,0,1,1,1,1,1,1,1,1,0,0,1,1
11446,0,1,0,1,1,1,1,1,1,1,1,1,0,1,1
11447,0,0,0,1,0,1,1,1,1,1,1,1,0,0,1
11448,0,0,0,1,1,0,1,1,1,1,0,0,0,0,1

In [121]:
frequent_itemsets = apriori(df, min_support=0.5,use_colnames=True)

C:\Users\hp\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [115]:
frequent_itemsets

      support                                           itemsets
0    0.593502                                        (Baby Food)
1    0.865752                                            (Dairy)
2    0.631584                                             (Fish)
3    0.760328                                           (Frozen)
4    0.821207                                           (Fruits)
..        ...                                                ...
352  0.525286  (House Hold, Grocery, Vegetables, Frozen, Meat...
353  0.572452  (House Hold, Fruits, Grocery, Vegetables, Meat...
354  0.555332  (House Hold, Fruits, Grocery, Vegetables, Froz...
355  0.503712  (House Hold, Grocery, Vegetables, Frozen, Meat...
356  0.541707  (House Hold, Fruits, Grocery, Vegetables, Meat...

[357 rows x 2 columns]

In [118]:
rules = association_rules(frequent_itemsets, metric='lift',min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Baby Food),(Dairy),0.593502,0.865752,0.554110,0.933628,1.078400,0.040284,2.022643
1,(Dairy),(Baby Food),0.865752,0.593502,0.554110,0.640032,1.078400,0.040284,1.129263
2,(Baby Food),(Frozen),0.593502,0.760328,0.500131,0.842678,1.108308,0.048875,1.523450
3,(Frozen),(Baby Food),0.760328,0.593502,0.500131,0.657783,1.108308,0.048875,1.187838
4,(Baby Food),(Fruits),0.593502,0.821207,0.526072,0.886387,1.079371,0.038684,1.573702
...,...,...,...,...,...,...,...,...,...
6249,(Grocery),"(House Hold, Fruits, Vegetables, Meat, General...",0.990217,0.541707,0.541707,0.547058,1.009879,0.005299,1.011815
6250,(Vegetables),"(House Hold, Fruits, Grocery, Meat, General Me...",0.854136,0.561359,0.541707,0.634216,1.129787,0.062230,1.199181
6251,(Meat),"(House Hold, Fruits, Grocery, Vegetables, Gene...",0.730020,0.651323,0.541707,0.742044,1.139286,0.066228,1.351688
6252,(General Merchandise),"(House Hold, Fruits, Grocery, Vegetables, Meat...",0.904795,0.558913,0.541707,0.598706,1.071197,0.036005,1.099162
6253,(Dairy),"(House Hold, Fruits, Grocery, Vegetables, Meat...",0.865752,0.572452,0.541707,0.625706,1.093029,0.046105,1.142280

In [119]:
rules [ (rules['lift'] >1.1396)  & (rules['confidence']> 0.95)  ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2469,"(House Hold, Fish, Fruits, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4451,"(House Hold, Fish, Fruits, Grocery, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4458,"(House Hold, Fish, Fruits, Dairy)","(Grocery, Vegetables)",0.518124,0.852651,0.504411,0.973533,1.141773,0.062632,5.567356

# Association_rule for after covid

In [47]:
import pandas as pd
from mlxtend.frequent_patterns import apriori
from mlxtend.frequent_patterns import association_rules

In [48]:
dT=pd.read_csv('A_Covid.csv')

In [49]:
dT

,Baby Food,Baby Item,Cosmetics,Dairy,Fish,Frozen,Fruits,General Merchandise,Grocery,House Hold,Meat,Stationery,Tobacco,Toys,Vegetables
0,1,0,0,1,0,0,1,1,1,1,1,0,0,0,0
1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
2,0,0,1,1,1,1,1,1,1,1,1,0,0,0,1
3,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1
4,1,0,0,1,1,1,1,1,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,0,0,0,0,1,0,0,1,1,1,1,0,0,0,1
11445,1,1,0,1,1,0,1,0,1,1,1,0,0,0,0
11446,1,0,0,1,1,1,1,1,1,1,1,1,0,0,1
11447,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1
11448,1,1,0,1,0,0,1,1,1,1,0,0,0,0,1

In [55]:
df=pd.DataFrame(dT)
df

,Baby Food,Baby Item,Cosmetics,Dairy,Fish,Frozen,Fruits,General Merchandise,Grocery,House Hold,Meat,Stationery,Tobacco,Toys,Vegetables
0,1,0,0,1,0,0,1,1,1,1,1,0,0,0,0
1,1,1,0,1,1,1,1,1,1,1,1,1,0,1,1
2,0,0,1,1,1,1,1,1,1,1,1,0,0,0,1
3,1,0,0,1,1,1,1,1,1,1,1,0,0,0,1
4,1,0,0,1,1,1,1,1,1,1,0,1,0,1,1
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
11444,0,0,0,0,1,0,0,1,1,1,1,0,0,0,1
11445,1,1,0,1,1,0,1,0,1,1,1,0,0,0,0
11446,1,0,0,1,1,1,1,1,1,1,1,1,0,0,1
11447,1,1,0,1,1,1,1,1,1,1,1,1,0,0,1
11448,1,1,0,1,0,0,1,1,1,1,0,0,0,0,1

In [122]:
frequent_itemsets = apriori(df, min_support=0.5,use_colnames=True)

C:\Users\hp\anaconda3\lib\site-packages\mlxtend\frequent_patterns\fpcommon.py:111: DeprecationWarning: DataFrames with non-bool types result in worse computationalperformance and their support might be discontinued in the future.Please use a DataFrame with bool type
  warnings.warn(

In [57]:
frequent_itemsets

      support                                           itemsets
0    0.593502                                        (Baby Food)
1    0.865752                                            (Dairy)
2    0.631584                                             (Fish)
3    0.760328                                           (Frozen)
4    0.821207                                           (Fruits)
..        ...                                                ...
352  0.525286  (House Hold, Grocery, Vegetables, Frozen, Meat...
353  0.572452  (House Hold, Fruits, Grocery, Vegetables, Meat...
354  0.555332  (House Hold, Fruits, Grocery, Vegetables, Froz...
355  0.503712  (House Hold, Grocery, Vegetables, Frozen, Meat...
356  0.541707  (House Hold, Fruits, Grocery, Vegetables, Meat...

[357 rows x 2 columns]

In [60]:
rules = association_rules(frequent_itemsets, metric='lift',min_threshold=1)
rules

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
0,(Baby Food),(Dairy),0.593502,0.865752,0.554110,0.933628,1.078400,0.040284,2.022643
1,(Dairy),(Baby Food),0.865752,0.593502,0.554110,0.640032,1.078400,0.040284,1.129263
2,(Baby Food),(Frozen),0.593502,0.760328,0.500131,0.842678,1.108308,0.048875,1.523450
3,(Frozen),(Baby Food),0.760328,0.593502,0.500131,0.657783,1.108308,0.048875,1.187838
4,(Baby Food),(Fruits),0.593502,0.821207,0.526072,0.886387,1.079371,0.038684,1.573702
...,...,...,...,...,...,...,...,...,...
6249,(Grocery),"(House Hold, Fruits, Vegetables, Meat, General...",0.990217,0.541707,0.541707,0.547058,1.009879,0.005299,1.011815
6250,(Vegetables),"(House Hold, Fruits, Grocery, Meat, General Me...",0.854136,0.561359,0.541707,0.634216,1.129787,0.062230,1.199181
6251,(Meat),"(House Hold, Fruits, Grocery, Vegetables, Gene...",0.730020,0.651323,0.541707,0.742044,1.139286,0.066228,1.351688
6252,(General Merchandise),"(House Hold, Fruits, Grocery, Vegetables, Meat...",0.904795,0.558913,0.541707,0.598706,1.071197,0.036005,1.099162
6253,(Dairy),"(House Hold, Fruits, Grocery, Vegetables, Meat...",0.865752,0.572452,0.541707,0.625706,1.093029,0.046105,1.142280

In [90]:
rules [ (rules['lift'] >1.1396)  & (rules['confidence']> 0.95)  ]

,antecedents,consequents,antecedent support,consequent support,support,confidence,lift,leverage,conviction
2469,"(House Hold, Fish, Fruits, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4451,"(House Hold, Fish, Fruits, Grocery, Dairy)",(Vegetables),0.518124,0.854136,0.504411,0.973533,1.139788,0.061863,5.511254
4458,"(House Hold, Fish, Fruits, Dairy)","(Grocery, Vegetables)",0.518124,0.852651,0.504411,0.973533,1.141773,0.062632,5.567356

#